{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter – cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'img/twitter.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

  </head>

  <body>
    <div class="opcoes">
      <form method="POST">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Nome de usuário" required>
        <input type="password" id="password" name="password" placeholder="Senha" required>
        <input type="password" name="confirm_password" placeholder="Confirmar Senha" required>

        <button type="submit">Cadastrar</button>

      </form>

      {% if error %}
        <p style="color:red;">{{ error }}</p>

      {% endif %}

      <hr>

      <p>Já possui uma conta?</p>

      <a href="{% url 'home' %}" class="btn-login">Fazer login</a>

    </div>

  </body>

</html>